/*Your styles*/

 body {
    margin: 0px;
	background: #535353}


#content {
    margin-right:auto;
    margin-left:auto;
    vertical-align:middle;
    width:100%;
}


#btn_test{
    width: 100%;
}

p{
  font-size: 10px;
  float: right;
  display: inline;
  margin:0;
}

.topcoat-range{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.toto{
	border: 1px solid #B4B4B4;
	border-radius: 2px;
	width: 45px;
	height: 45px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	display: inline;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.toto:hover{
	border: 1px solid #ffffff;
	cursor: pointer;
	}


/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor{}
.hostFontFamily{}
.hostFontSize{}

/*font family, color and size*/
.hostFont{}
/*background color*/
.hostBgd{}
/*lighter background color*/
.hostBgdLight{}
/*darker background color*/
.hostBgdDark{}
/*background color and font*/
.hostElt{}


.hostButton{
    border:1px solid;
    border-radius:2px;
    height:20px;
    vertical-align:bottom;
    font-family:inherit;
    color:inherit;
    font-size:inherit;
}
/*img {
	border: 1px solid #909090;
	border-radius: 2px;
}

img:hover {
	border: 1px solid #d6d6d6;
}*/
